passwords/**/*
*-user.sh
*-user-*.sh

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# Generated archiso artifacts
archiso/out/
archiso/work/
archiso/airootfs/opt/march/
archiso/localrepo/
archiso/.aur-build/
